# Directorios generados por Nuxt y el gestor de paquetes
node_modules
.nuxt
.output
dist
temp

# Configuraciones de Git y otros
.git
.gitignore
.DS_Store

# Archivos de entorno y logs
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*